@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 2%;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photographer_section article text {
  color: #b76b6b;
  font-size: 25px;
}

.photographer_section article tagline {
  font-size: 20px;
}

.photographer_section article prix {
  font-size: 18px;
  color: #d2d2d2;
}

/* menu deroulant  */

h4 {
  margin: 0;
  width: 10%;
  position: absolute;
  height: 54px;
  display: flex;
  align-items: center;
}
.menu {
  margin-left: 5%;
  margin-top: 2%;
  font-weight: 120;
  font-size: 1.2em;
  height: 54px;
  align-items: center;
}
.sous_menu {
  background-color: #901c1c;
  color: white;
  width: 10%;
  display: block;
  padding-left: 2%;
  position: absolute;
  left: 10%;
  border-radius: 5px;
}
.titre,
.pop,
.date {
  padding: 15px;
}

.sous_menu:hover .cacher {
  display: block;
}
.cacher {
  display: none;
}

.border {
  border-top: solid 1px;
  margin-right: 25%;
}
